@forward "variables";
@forward "components";

html {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--font-family);
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

p,
li {
  line-height: 1.625;
}

ul {
  list-style: square;

  & > li::marker {
    font-size: 1.8rem;
    color: var(--clr-accent);
  }
}

b {
  font-weight: 600;
}

a {
  font-family: var(--font-family-variable);
  color: var(--clr-link);
  text-decoration: underline;
  text-decoration-color: var(--clr-link);
  font-variation-settings: "wght" 500;
  transition: font-variation-settings 0.3s;

  &:hover {
    font-variation-settings: "wght" 700;
  }

  .link-icon {
    vertical-align: super;
    font-size: 0.6em;
  }
}

address {
  font-style: normal;
}

svg.inline {
  margin: 0 0.5rem;
}

picture {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
  }

  &.cover {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &.border {
    border: 1rem solid var(--clr-accent);
  }

  &.background {
    background-color: var(--clr-accent);
  }

  &.right {
    float: right;
    margin-left: 2rem;
  }

  &.left {
    float: left;
    margin-right: 2rem;
  }

  &.center {
    margin: 0 auto;
    display: block;
  }

  &.full {
    width: 100%;
    max-width: 100%;
  }

  &.half {
    width: 50%;
    max-width: 50%;
  }

  &.third {
    width: 33.333%;
    max-width: 33.333%;
  }

  &.quarter {
    width: 25%;
    max-width: 25%;
  }

  &.fifth {
    width: 20%;
    max-width: 20%;
  }

  &.sixth {
    width: 16.666%;
    max-width: 16.666%;
  }
}
