$clr-white: #fff;
$clr-black: #000;
$clr-gray: #f8f8f8;
$clr-background: $clr-white;
$clr-accent: $clr-gray;
$clr-text: $clr-black;
$clr-link: #6b6b6b;
$clr-green: #228B22; /* Dark green */
$clr-red: #B22222; /* Dark red */
$clr-yellow: #DAA520; /* Goldenrod */
$clr-blue: #1E90FF; /* Dodger blue */
$clr-teal: #008080; /* Teal */
$clr-purple: #800080; /* Purple */
$clr-orange: #FF8C00; /* Dark orange */

$dm-clr-white: #d0d0d0;
$dm-clr-black: #1d1d1d;
$dm-clr-gray: #272727;
$dm-clr-background: $dm-clr-black;
$dm-clr-accent: $dm-clr-gray;
$dm-clr-text: $dm-clr-white;
$dm-clr-link: #a1a1a1;
$dm-clr-green: #32CD32; /* Lime Green */
$dm-clr-red: #FF6347; /* Tomato */
$dm-clr-yellow: #FFD700; /* Gold */
$dm-clr-blue: #1E90FF; /* Dodger Blue */
$dm-clr-teal: #20B2AA; /* Light Sea Green */
$dm-clr-purple: #9370DB; /* Medium Purple */
$dm-clr-orange: #FF8C00; /* Dark Orange */

:root {
  --clr-white: #{$clr-white};
  --clr-black: #{$clr-black};
  --clr-gray: #{$clr-gray};
  --clr-background: #{$clr-background};
  --clr-accent: #{$clr-accent};
  --clr-text: #{$clr-text};
  --clr-link: #{$clr-link};
  --clr-green: #{$clr-green};
  --clr-red: #{$clr-red};
  --clr-yellow: #{$clr-yellow};
  --clr-blue: #{$clr-blue};
  --clr-teal: #{$clr-teal};
  --clr-purple: #{$clr-purple};
  --clr-orange: #{$clr-orange};
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-white: #{$dm-clr-white};
    --clr-black: #{$dm-clr-black};
    --clr-gray: #{$dm-clr-gray};
    --clr-background: #{$dm-clr-background};
    --clr-accent: #{$dm-clr-accent};
    --clr-text: #{$dm-clr-text};
    --clr-link: #{$dm-clr-link};
    --clr-green: #{$dm-clr-green};
    --clr-red: #{$dm-clr-red};
    --clr-yellow: #{$dm-clr-yellow};
    --clr-blue: #{$dm-clr-blue};
    --clr-teal: #{$dm-clr-teal};
    --clr-purple: #{$dm-clr-purple};
    --clr-orange: #{$dm-clr-orange};
  }
}
