main {
  width: 100%;
  max-width: 1200px;
  margin: 12rem auto 6rem auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  flex: 1;

  @media screen and (max-width: 1300px){
    padding: 0 2rem;
    width: unset;
  }

  .content {
    flex: 3;
  }

  aside {
    flex: 1;
    border-left: 1rem solid var(--clr-accent);
    padding-left: 2rem;

    .content {
      position: sticky;
      top: 12rem;

      nav {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.6rem;
  
        a {
          text-decoration: none;

          &.active {
            color: var(--clr-text);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1300px){
    aside {
      display: none;
    }
  }
}
