main {
  width: 100%;
  margin: 12rem auto 6rem auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  flex: 1;

  &.fullwidth {
    max-width: unset;
    padding: 0 4rem;
  }

  &.centered {
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    padding: 0 2rem;
    width: unset;
  }

  .content {
    flex: 3;
    max-width: 100%;
  }

  aside {
    flex: 1;
    border-left: 1rem solid var(--clr-accent);
    padding-left: 2rem;
    z-index: 1001;

    .content {
      position: sticky;
      top: 12rem;

      nav {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.6rem;

        a {
          text-decoration: none;

          &.active {
            color: var(--clr-text);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    aside {
      display: none;
    }
  }
}