<!DOCTYPE html>
<html lang="{{ page.lang | default: "en-US" }}">
  {% include head.liquid %}
  <body>
    {% include header.liquid %}
    <main class="{% if page.centered %}centered{% endif %} {% if page.fullwidth %}fullwidth{% endif %}">
      <div class="content">
        {{ content }}
      </div>
      {% include sidebar.liquid %}
    </main>
    {% include footer.liquid %}
    {% include cookie-notice.liquid %}
    <script src="{{ "/assets/javascript/app.js" | relative_url }}"></script>
  </body>
</html>